<!DOCTYPE html>
<html lang="es">

<head>
  <title>Mundiales FIFA</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>

<body>
  <h1>Busca los resultados de los mundiales desde 1930 - 2018</h1>
  <form>
    <input type="text" name="year" placeholder="Año del mundial">
    <button type="submit">Buscar</button>
  </form>
  <img src="{{url_for('static', filename='home.svg')}}" alt="">
</body>

<script>
  const form = document.querySelector('form')

  form.addEventListener('submit', event => {
    event.preventDefault()
    window.location.href = `/search/${form['year'].value}`
  })
</script>

</html>
